<!--The Content Heading-->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect("/")
        } %>
        <!--A Message Block-->
        <%- messages() %>
         <!--A login html Block-->
         <form action="/submit" method="post">
            <label for="email">Email:</label>
            <br>
            <input type="email" id="email" required>
            <br><br>
            <label for="password">Password:</label>
            <br>
            <input type="password" id="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
            <br><br>
            <button type="submit" value="Login">Login</button>
            <p>No account? <a href="/account/register">Sign-up</a></p>
        </form>




 

    

