<!--The Content Heading-->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect("/")
        } %>
<!--The log out button-->
<button type="logout" >Logout</button>
        <!--A Message Block-->
        <%- messages() %>
<!--The errors for more than one Display-->
<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
            <%  }) %>
        </ul>
        <% } %> 

<p>You're logged in!</p>