<!--The Content Heading-->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect("/")
        } %>
        <!--A Message Block-->
        <%- messages() %>
<!--The errors for more than one Display-->
<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
            <%  }) %>
        </ul>
        <% } %>        

        <!--A register html Block-->

        <form>
            <label for="firstName">First Name:</label>
            <br>
            <input type="text" id="fname" required>
            <br>
            <label for="lastName">Last Name:</label>
            <br>
            <input type="text" id="lname" required>
            <br><br>
            <label for="email">Email:</label>
            <br>
            <input type="email" id="email" required>
            <br>
            <label for="password">Password:</label>
            <br>
            <input type="password" id="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required><br><br>
            <div class="passwordRequirements">
                <p>There must be at least 12 characters, one must be a number, one must be a lowercase letter, one must be a capital letter, and one must be a non-alphanumeric character."</p>
            </div>
             <input type="submit" value="Register">
        </form>
        

        
        