<!--The Content Heading-->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
        } %>
        <!--A Message Block-->
        <%- messages() %>
<!--The errors for more than one Display-->
<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
            <%  }) %>
        </ul>
        <% } %> 


<div class="accountContanier">
    <a href="./inv/addClassification/">Add New Classification</a>
    <br><br>
    <a href="./inv/addNewInventory/">Add New Inventory</a>
</div>       